html, body {
    height: 100%;
    width: 100%;
}
#blogPage {
    display: grid;
    columns: 50% 50%;
    grid-template-rows: 15% 15% 1fr 15% 15%;
    width: 90%;
    height: 95%;
    border: 1px solid black;
    margin: auto;
}
#blogPage > header {
    grid-column: 1 / span 2;
    grid-row: 1;
    border: 1px solid black;
}
#blogPage > footer {
    grid-column: 1 / span 2;
    grid-row: 5;
    border: 1px solid black;  
}
#blogPage > article {
    grid-column: 1 / span 2;
    grid-row: 3;
    border: 1px solid black;
}
#blogPage > #calendar {
    grid-column: 2;
    grid-row: 2;
    border: 1px solid black;
}
#blogPage > #blogRoll {
    grid-column: 1;
    grid-row: 4;
    border: 1px solid black;
}
#blogPage > #aboutMe {
    grid-column: 1;
    grid-row: 2;
    border: 1px solid black;
}
#blogPage > #blogHistory {
    grid-column: 2;
    grid-row: 4;
    border: 1px solid black;
}
